@font-face {
    font-family: 'Open Sans';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src:
        local('Open Sans'),
        local('OpenSans'),
        url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
}

@font-face {
    font-family: 'Open Sans Light';
    font-weight: normal;
    font-style: normal;
    src: url('../fonts/OpenSans-Light-webfont.eot');
    src:
        local('Open Sans Light'),
        local('OpenSans Light'),
        url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
        url('../fonts/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
}

html
{
    overflow: auto;
    background-color: #fff;
    font-size: 14px;
}

body
{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    color: #4d4e53;
    background-color: white;
}

a, a:visited, a:active {
    color: #0095dd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header
{
    display: block;
    padding: 0px 4px;
}

tt, code, kbd, samp {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.class-description {
    font-size: 130%;
    line-height: 140%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.class-description:empty {
    margin: 0;
}


article dl {
    margin-bottom: 40px;
}

section
{
    display: block;
    background-color: #fff;
    padding: 12px 24px;
    border-bottom: 1px solid #ccc;
    margin-right: 30px;
}

.variation {
    display: none;
}

.signature-attributes {
    font-size: 60%;
    color: #aaa;
    font-style: italic;
    font-weight: lighter;
}

.external-links {
  margin-top: 24px;
}
.external-links p {
  font-size: 13px;
  letter-spacing: -1px;
}
.external-links a:before {
    content: "";
    background-repeat: no-repeat;
    background-size: contain;
    height: 24px;
    width: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
}
.codesite a:before {
    background-image: url(../img/logo.png);
}
.github a:before {
    background-image: url(../img/github.png);
}
.twitter a:before {
    background-image: url(../img/twitter.png);
}
@media (min-width: 720px) {
    .header {
        padding: 24px;
        margin-top: 50px;
    }
    nav {
        position: absolute;
        top: 3px;
        left: 0;
        right: 0;
        display: block;
        z-index: 10;
    }
    .navwrapout {
        max-width: 900px;
        margin: 0 auto;
        position: relative;
    }
    .external-links {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 0;
    }
    .external-links p {
      display: inline-block;
      margin-left: 6px;
    }
    .external-links p {
      width: 24px;
      height: 24px;
      overflow: hidden;
    }
    .external-links a span {
      position: absolute;
      left: -9999px;
    }



    .navwrap {
        display: table;
    }
    .navwrap > h2,
    .navsection {
        position: relative;
        display: table-cell;
        padding-right: 5px;
    }
    .navwrap h2,
    .navwrap > .navsection > h3 {
        font-size: 13px;
        border: solid 1px transparent;
        border-radius: 4px 4px 0 0;
        height: 24px;
    }
    .navwrap > .navsection > h3 {
        padding-left: 5px;
    }
    .navwrap > .navsection > h3:after {
        content: "▼";
        font-size: 0.5em;
        padding-left: 2px;
    }
    .navsection:hover > h3 {
        border-color: #999999;
        border-bottom-color: #fcfcfc;
        background: #000000;
        color: #ffffff;
        position: relative;
        z-index: 1;
    }
    .navsection:hover > h3:after {
        color: #000000;
    }

    .navwrap > .navsection > ul,
    .navsection .navsectioninner {
        position: absolute;
        display: none;
        left: 0;
        top: 36px;
        background: #fcfcfc;
        min-width: 10em;
        border: solid 1px #eeeeee;
        border-radius: 0 4px 4px 4px;
        box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    }
    .navwrap > .navsection:hover > ul,
    .navsection:hover .navsectioninner {
        display: block;
    }
    .navwrap li {
        margin-top: 0;
    }
    nav li a {
        white-space: nowrap;
        padding: 5px 10px;
        display: block;
    }
    nav li a:hover {
        text-decoration: none;
        background-color: #eeeeee;
    }
    .navsectioninner h4 {
        font-size: 10px;
        padding: 10px 10px 0;
        margin: 0;
        text-transform: uppercase;
    }
}

nav ul {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', arial, sans-serif;
    font-size: 100%;
    line-height: 17px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

nav ul a, nav ul a:visited, nav ul a:active {
    line-height: 18px;
    color: #4D4E53;
}

nav h3 {
    margin-top: 12px;
}

nav h2, nav h3 {
    font-size: 18px;
    cursor: pointer;
}

nav li {
    margin-top: 6px;
}

footer {
    display: block;
    padding: 6px;
    margin-top: 12px;
    font-style: italic;
    font-size: 90%;
}

h1, h2, h3, h4 {
    font-weight: 200;
    margin: 0;
}

h1
{
    font-family: 'Open Sans Light', sans-serif;
    font-size: 48px;
    letter-spacing: -2px;
    margin: 12px 24px 20px;
}

h2, h3
{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-bottom: 12px;
}

h4
{
    font-size: 18px;
    letter-spacing: -0.33px;
    margin-bottom: 12px;
    color: #4d4e53;
}

h5, .container-overview .subsection-title
{
    font-size: 120%;
    font-weight: bold;
    letter-spacing: -0.01em;
    margin: 8px 0 3px 0;
}

h6
{
    font-size: 100%;
    letter-spacing: -0.01em;
    margin: 6px 0 3px 0;
    font-style: italic;
}

.ancestors { color: #999; }
.ancestors a
{
    color: #999 !important;
    text-decoration: none;
}

.clear
{
    clear: both;
}

.important
{
    font-weight: bold;
    color: #950B02;
}

.yes-def {
    text-indent: -1000px;
}

.type-signature {
    color: #aaa;
}

.name, .signature {
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
}

.details { margin-top: 14px;}
.details dt { width: 120px; float: left; padding-left: 10px;  padding-top: 6px; }
.details dd { margin-left: 70px; }
.details ul { margin: 0; }
.details ul { list-style-type: none; }
.details li { margin-left: 30px; padding-top: 6px; }
.details pre.prettyprint { margin: 0 }
.details .object-value { padding-top: 0; }

.description {
    margin-bottom: 1em;
    margin-top: 1em;
}

.code-caption
{
    font-style: italic;
    font-size: 107%;
    margin: 0;
}

.prettyprint
{
    border: 1px solid #ddd;
    overflow: auto;
}

.prettyprint.source {
    width: inherit;
}

.prettyprint code
{
    font-size: 100%;
    line-height: 18px;
    display: block;
    padding: 4px 12px;
    margin: 0;
    background-color: #fff;
    color: #4D4E53;
}

.prettyprint code span.line
{
  display: inline-block;
}

.prettyprint.linenums
{
  padding-left: 70px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.prettyprint.linenums ol
{
  padding-left: 0;
}

.prettyprint.linenums li
{
  border-left: 3px #ddd solid;
}

.prettyprint.linenums li.selected,
.prettyprint.linenums li.selected *
{
  background-color: lightyellow;
}

.prettyprint.linenums li *
{
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.params, .props, .lang
{
    border-spacing: 0;
    border: 0;
    border-collapse: collapse;
}

.params .name, .props .name, .name code, .lang .name {
    color: #4D4E53;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
    font-size: 100%;
}

.params td, .params th, .props td, .props th, .lang td, .lang th
{
    border: 1px solid #ddd;
    margin: 0px;
    text-align: left;
    vertical-align: top;
    padding: 4px 6px;
    display: table-cell;
}

.params thead tr, .props thead tr, .lang thead tr
{
    background-color: #ddd;
    font-weight: bold;
}

.params .params thead tr, .props .props thead tr
{
    background-color: #fff;
    font-weight: bold;
}

.params th, .props th, .lang th { border-right: 1px solid #ddd; }
.params thead .last, .props thead .last, .lang thead .last { border-right: 1px solid #ddd; }

table.lang {
    width: 100%;
}
.lang tr > *:first-child {
    width: 1px;
    white-space: nowrap;
}
.lang td:first-child { background-color: #f6f6f6;}

.params td.description > p:first-child
{
    margin-top: 0;
    padding-top: 0;
}

.params td.description > p:last-child
{
    margin-bottom: 0;
    padding-bottom: 0;
}

.disabled {
    color: #454545;
}

code a:after {
    content: "[link]";
    font-size: 0.75em;
    padding: 0 0 0 0.25em;
}
code a + a {
    margin-left: 1em;
}

h1 small {
    color: #cccccc;
    display: block;
    font-size: 0.5em;
    margin-bottom: -0.75em;
}

dt.tag-source {
    border-left: 2px solid #ddd;
}
.tag-see {
    margin-top: 24px;
}
dt.tag-see {
    font-size: 1.2em;
}
.tag-todo {
    /*color: red;
    font-size: 1.5em;*/
}

zh3,
zh5.returns {
    font-size: 24px;
}
xh4 {
    font-size: 20px;
}
.container-overview > .language {
    margin: -55px 0 55px 0;
    font-size: 75%;
}
.language span {
    color: #999999;
}

.ancestors {
    font-size: 18px;
    zcolor: #000000;
}
.ancestors:before {
    content: "Defined in: ";
}

.controls h2 {
    margin-top: 0.5em;
    margin-bottom: -0.25em;
}

.exampleapp h2 {
    margin-top: 2em;
    margin-bottom: -0.25em;
}

.controls h3,
.exampleapp h3 {
    font-size: 15px;
    margin: 10px 0 5px;
}

.name span.stylesheet {
    display: inline-block;
    vertical-align: top;
}

small {
    font-size: 0.6em;
}
nav a small,
small > span.str,
.schematic small {
    display: none;
}
.schematic .section td {
    border-top: solid 1px #ddd;
}

.schematic .section td:first-child {
    color: #999999;
    font-size: 0.6em;
    text-transform: uppercase;
}

.prettyprint code {
    white-space: pre-wrap;
}

body {
    margin: 0;
    padding: 0;
}
h1 {
    margin-left: 0;
    margin-right: 0;
}
section {
    padding-left: 0;
    padding-right: 0;
    margin-right: 0;
    border: none;
}

@media (max-width: 720px) {
    .header h1,
    article > *,
    .container-overview > *,
    .description > *,
    .prettyprint code {
        padding-left: 24px;
        padding-right: 24px;
    }
    nav {
        border-top: solid 1px #000000;
        padding: 24px;
        margin-top: 40px;
    }
    nav ul a,
    nav ul a:visited,
    nav ul a:active {
        xcolor: #ffffff;
    }
}

    .examples h5,
    #main header,
    .header h1,
    article > *,
    .container-overview > *,
    .description > *,
    .prettyprint code {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    .examples,
    .container-overview,
    .description,
    .prettyprint {
        max-width: none;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
    }


.prettyprint {
    background: #000000;
    background: #b79b6d;
    background: #f6f6f6;
    border: none;
    padding: 24px;
}
.prettyprint code {
    box-sizing: content-box;
    background: transparent;
}

footer {
    display: none;
}


.header {
    background: #000000;
    position: relative;
    padding: 12px;
}



/*h2, h3, h4, h5,*/
h1  {
  font-weight: 500;
  color:    #ffffff;
}
h1 {
  margin: 0;
}

#main ul li {
    position: relative;
    list-style-type: none;
}
#main ul li:before {
    position: absolute;
    top: 0.5em; left: -1.25em;
  width: 0.5em;
  height: 0.5em;
    transform:  rotate(45deg);
  background: #ffcc00;
    background: linear-gradient(-45deg, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background-size: 110%;
    background: #000000;
    content: '';
  zbox-shadow: 1px 0px 0px rgba(0,0,0,0.25);
}
#main .details ul li:before {
    display: none;
}

.details dt {
    padding-left: 0;
    border: none;
}
article dl {
    margin-bottom: 20px;
}
h4.name {
    margin-top: 20px;
    zcolor: #ff0000;
}
h3 + h4.name {
    zmargin-top: 0;
}
h3.subsection-title {
    zmargin-top: 40px;
}




.exampleapp {
  display: none;
}